<br><div class="box">
	<div class="center-align">
		<div class="card">
		  <div class="card-header">
		    SendGrid Mail
		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
		    <%= link_to "I. Get Document", document_sendgrid_mail_index_path %><br>
		    <%= link_to "2. View Application", new_sendgrid_mail_path %><br>
		      
		    </blockquote>
		  </div>
		</div>
		<div class="card-footer">
      <%= link_to "Back", root_path %>
    </div>
	</div>
</div>