<div class="center">
	<div class="card">
	  <h5 class="card-header"><b>SYLLABUS</b></h5>
	  <div class="card-body">
	    <h5 class="card-title">1. Mail Functionality Integration</h5>
	    <%= link_to "I. Using SendGrid (SendGrid_Mail)", sendgrid_mail_index_path %><br>
 	    <a href="#" >II. Using SES (SES_Mail)</a><br><br>

 	    <h5 class="card-title">2. Image Upload</h5>
	    <a href="#">I. Single Image Upload</a><br>
 	    <a href="#">II. Multiple Image Upload</a><br>
	  </div>
	</div>
</div>